* {
    font-size: 14px;
}

body {
    overflow-y: scroll;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.left-header {
    display: flex;
    justify-content: start;
    margin-left: 20px;
}

.logo-wrap {
    width: 112px;
}

.logo {
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.category {
    width: 700px;
    display: flex;
    align-items: center;
}

.category-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.category-container li {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    cursor: pointer;
}

.category-container li:hover {
    color: rgb(250, 136, 11);
}

.category-container li p {
    font-size: 1.12rem;
    font-weight: bold;
    width: 100%;
    margin-bottom: 5px;
}

.category-container li span {
    font-size: 0.8rem;
    width: 100%;
}

.right-header {
    display: flex;
    justify-content: end;
    align-content: center;
    align-items: center;
}

.move-sign-btn {
    font-size: 0.75rem;
    padding: 9px 10px;
    border: 0px;
    border-radius: 3px;
    margin-right: 20px;
    cursor: pointer;
}

.move-marketing-area {
    text-align: right;
    height: 100%;
    padding: 25px 0 25px 25px;
    color: #349af5;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.move-marketing-area:hover {
    background-color: rgba(215, 215, 215, 0.4);
}

.right-arrow {
    margin: 0 10px;
}

.container {
    margin-top: 80px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.banner-area {
    background-image: url(https://s.zigbang.com/v1/web/main/hero_img_1440.jpg);
    background-size: cover;
    width: 100%;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.comment-area {
    width: 50%;
    height: 40%;
    display: flex;
    justify-content: center;
    background-image: url(https://s.zigbang.com/v1/web/main/whiteArea_img.png);
    background-size: contain;
    margin: 0 auto;
    padding-top: 110px;
}

.comment {
    font-size: 2.6rem;
    font-weight: bold;
    text-shadow: white 0px 16px 40px;
}

.search-form {
    margin-top: -80px;
}

.search-category-area {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.search-category {
    width: 40%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.search-category li {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.search-category li.active {
    background-color: white;
    color: #349af5;
    border-radius: 10px;
}

.search-area {
    width: 40%;
    display: flex;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.search-area input[type='text'] {
    width: 100%;
    height: 45px;
    padding: 5px 40px;
    border: 0;
    border-radius: 10px 0 0 10px;
    font-size: 1.05rem;
}

.search-area input[type='text']::placeholder {
    font-size: 1.05rem;
    color: #999;
}

.search-button-img {
    width: 100%;
    height: 30px;
}

.search-button-area {
    background-color: #ffa441;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
    padding: 5px 18px;
    cursor: pointer;
}

.board-area {
    width: 100%;
    height: 200px;
    padding: 40px 0px 27px;
}

.board-group {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.board-item {
    width: 260px;
}

.board-title {
    padding-top: 4px;
    padding-bottom: 5px;
    margin-bottom: 13px;
    border-bottom: 1px solid #b3b3b3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.board-title h2 {
    height: 29px;
    font-weight: bold;
    font-size: 1.05rem;
    display: flex;
    align-items: center;
}

.board-title button {
    border: 0;
    color: #999999;
    background-color: #fafafa;
    border-radius: 3px;
    padding: 6px 12px;
    cursor: pointer;
}

.introduce {
    width: 260px;
    height: 140px;
}

.introduce img {
    height: 100%;
}

.grid li {
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 32px;
}

.app-area {
    background-color: #fafafa;
    width: 100%;
    height: 279px;
}

.app-group {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.phone-img {
    background: url("https://s.zigbang.com/v1/web/main/downLoad_phone.png") 109px 0px / contain no-repeat;
    width: 370px;
    height: 266px;
}

.download-area {
    width: 520px;
    display: flex;
    flex-direction: column;
}

.download-title {
    height: 70%;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.download-button-area {
    height: 30%;
    display: flex;
}

.download {
    width: 190px;
    height: 52px;
    margin-right: 20px;
    background-size: contain;
}

.google-play {
    background-image: url(https://s.zigbang.com/legacy/images/v2/main/download_android.png);
}

.apply-store {
    background-image: url(https://s.zigbang.com/legacy/images/v2/main/download_iOS.png);
}

.bg-font-gray {
    background-color: #f6f6f6;
    color: #666666;
}

.board-page {
    width: 66%;
    min-height: 600px;
    border: 1px solid #d9d3c8;
    border-radius: 3px;
    background-color: white;
    margin: 23px auto 50px;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.board-page h2 {
    display: block;
    width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    border-bottom: 2px solid black;
    padding: 30px 0 15px;
}

.board-page ul {
    width: 100%;
}

.board-page ul li {
    display: flex;
    justify-content: space-between;
    padding: 15px 5px;
    border-bottom: 1px dotted #999999;
}

.board-page-subject {
    font-size: 0.9rem;
    cursor: pointer;
}

.board-page-date {
    font-size: 0.8rem;
}

.roadmap-search-area {
    background-color: white;
    position: fixed;
    top: 100px;
    left: 20px;
    display: flex;
    z-index: 100;
    padding: 10px;
    border: 1px solid#999999;
    border-radius: 3px;
}

.roadmap-search-area input[type='text'] {
    width: 350px;
    height: 30px;
    border: 1px solid rgb(250, 136, 11);
    border-radius: 3px 0 0 3px;
}

.roadmap-search-button-area {
    background-color: rgb(250, 136, 11);
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}